{% comment %}
  Section: Collection Hero
  Description: A hero section with a title, scroll button, and background image from the collection.
{% endcomment %}

{% if collection.image and collection.image.src %}
  <style>
    .custom-collection-hero {
      background-image: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)), url({{ collection.image.src | img_url: 'master' | prepend: 'https:' }});
      background-position: 0 0, 50%;
      background-size: auto, cover;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      min-height: 80vh;
      display: flex;
      position: relative;
    }

    .shop-more-link {
      color: #fff;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      padding-bottom: 20px;
      text-decoration: none;
      display: flex;
      position: absolute;
      bottom: 0;
    }

    .collection-heading {
      color: #fff;
    }

    .div-block {
      flex-flow: column;
      justify-content: center;
      align-items: center;
      display: flex;
    }

    .collection-link {
      color: #fff;
      background-color: rgba(0, 0, 0, .25);
      border: 1px solid #fff;
      padding: 5px 20px;
      text-decoration: none;
    }
  </style>
  <div class="custom-collection-hero">
    <div class="div-block">
      <h1 class="collection-heading">{{ collection.title }}</h1>
      <a id="view-collection" href="#" class="collection-link w-inline-block">
        <div>View Collection sdf</div>
      </a>
    </div>
    <a id="scroll-button" href="#" class="shop-more-link w-inline-block">
      <p>Shop Store</p>
      <img
        src="https://cdn.shopify.com/s/files/1/0880/7035/7267/files/chevron-down.svg?v=1719444020"
        loading="lazy"
        alt=""
      >
    </a>
  </div>

  <script>
    document.addEventListener('DOMContentLoaded', function() {
      const shopMoreLink = document.getElementById('scroll-button');
      shopMoreLink.addEventListener('click', function(event) {
          event.preventDefault();
          const currentSection = shopMoreLink.closest('.shopify-section');
          if (currentSection) {
              const nextSection = currentSection.nextElementSibling;
              if (nextSection) {
                nextSection.scrollIntoView({ behavior: 'smooth' });
              }
          }
      });

      const viewCollectionLink = document.getElementById('view-collection');
      viewCollectionLink.addEventListener('click', function(event) {
          event.preventDefault();
          const currentSection = viewCollectionLink.closest('.shopify-section');
          if (currentSection) {
              const nextSection = currentSection.nextElementSibling;
              if (nextSection) {
                nextSection.scrollIntoView({ behavior: 'smooth' });
              }
          }
      });
    });
  </script>
{% endif %}

{% schema %}
{
  "name": "Collection Hero",
  "settings": [
    {
      "type": "text",
      "id": "elfsight_id",
      "label": "ElfSight ID"
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "Collection Hero"
    }
  ]
}
{% endschema %}
